In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df = pd.read_csv("../data/processed_data.csv")
df.head()

,Unnamed: 0,job_title,salary_local,experience_level,company_location,company_size,employee_residence,remote_ratio,education_required,years_experience,...,NLP,PyTorch,Python,R,SQL,Scala,Spark,Statistics,Tableau,TensorFlow
0,2643,127566.903912,214057,2.0,163662.357991,2.0,158338.064203,0,3.0,9,...,0,0,0,0,0,1,0,0,0,0
1,13352,124099.570940,320290,3.0,160422.841227,2.0,154158.126615,100,1.0,13,...,0,0,1,0,0,1,0,0,0,0
2,13117,122447.621739,120128,2.0,120143.787852,1.0,128401.875724,0,1.0,9,...,0,1,0,0,0,0,0,0,0,1
3,2560,124099.570940,68633,1.0,120143.787852,2.0,120233.216931,100,2.0,4,...,0,0,1,0,0,0,1,0,0,0
4,14297,120161.356186,132847,1.0,125794.441984,0.0,154158.126615,0,2.0,4,...,0,1,0,0,0,0,0,0,0,0

train test

In [10]:
from sklearn.preprocessing import StandardScaler

In [13]:
#pipeline